@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
}

.container {
  width: min(80vw, 70rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  margin-top: 5vh;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  width: 100%;
}

.titleUpper {
  height: 4rem;
  font-size: 5rem;
}

.titleLower {
  font-size: 7rem;
}

.titleGif {
  position: relative;
  bottom: -2rem;
  width: 7rem;
}

.subtitle {
  font-family: "roboto";
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  color: rgb(131, 131, 131);
  margin-bottom: 2rem;
  text-align: justify;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.section-header {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 0.5rem;
}

.section-content {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.credit {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0.1rem;
  font-size: 1rem;
}

.footerLogo {
  width: 20%;
  margin-top: 1.5rem;
  cursor: pointer;
}

@media (max-width: 625px) {
  .titleUpper {
    height: 1.7rem;
    font-size: 2.5rem;
  }

  .titleLower {
    font-size: 4rem;
  }

  .titleGif {
    bottom: -0.7rem;
    width: 3rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }

  .section {
    margin-bottom: 2rem;
  }

  .section-header {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .section-content {
    font-size: 0.8rem;
  }

  .credit {
    font-size: 0.8rem;
  }
}
